# Java targets
target
core/project
core/src/test/target
core/target
project/target

# Distribution / packaging
build/
dist/
maven-repo/
*.egg-info/

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
**/__pycache__
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Sphinx documentation
docs/build

# Editor files
*.swp
*.swo
*.swn
*.iml
.idea

# Logs
adam.log
core-test-names.log
unit-tests.log

# Test artifacts
Miniconda3*.sh
