# Java targets
target
core/target
project/target

# Distribution / packaging
build/
dist/
maven-repo/
*.egg-info/

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
**/__pycache__
*.pyc

# Sphinx documentation
docs/build

# Editor files
*.swp
*.swo
*.iml
.idea

# ADAM logs
adam.log
unit-tests.log
