ID_1 ID_2 missing
0 0 0
fake_sample_001 fake_sample_001 0
fake_sample_002 fake_sample_002 0
fake_sample_003 fake_sample_003 0
fake_sample_004 fake_sample_004 0
fake_sample_005 fake_sample_005 0
fake_sample_006 fake_sample_006 0
fake_sample_007 fake_sample_007 0
fake_sample_008 fake_sample_008 0
fake_sample_009 fake_sample_009 0
fake_sample_010 fake_sample_010 0
fake_sample_011 fake_sample_011 0
fake_sample_012 fake_sample_012 0
fake_sample_013 fake_sample_013 0
fake_sample_014 fake_sample_014 0
fake_sample_015 fake_sample_015 0
fake_sample_016 fake_sample_016 0
fake_sample_017 fake_sample_017 0
fake_sample_018 fake_sample_018 0
fake_sample_019 fake_sample_019 0
fake_sample_020 fake_sample_020 0
fake_sample_021 fake_sample_021 0
fake_sample_022 fake_sample_022 0
fake_sample_023 fake_sample_023 0
fake_sample_024 fake_sample_024 0
fake_sample_025 fake_sample_025 0
fake_sample_026 fake_sample_026 0
fake_sample_027 fake_sample_027 0
fake_sample_028 fake_sample_028 0
fake_sample_029 fake_sample_029 0
fake_sample_030 fake_sample_030 0
fake_sample_031 fake_sample_031 0
fake_sample_032 fake_sample_032 0
fake_sample_033 fake_sample_033 0
fake_sample_034 fake_sample_034 0
fake_sample_035 fake_sample_035 0
fake_sample_036 fake_sample_036 0
fake_sample_037 fake_sample_037 0
fake_sample_038 fake_sample_038 0
fake_sample_039 fake_sample_039 0
fake_sample_040 fake_sample_040 0
fake_sample_041 fake_sample_041 0
fake_sample_042 fake_sample_042 0
fake_sample_043 fake_sample_043 0
fake_sample_044 fake_sample_044 0
fake_sample_045 fake_sample_045 0
fake_sample_046 fake_sample_046 0
fake_sample_047 fake_sample_047 0
fake_sample_048 fake_sample_048 0
fake_sample_049 fake_sample_049 0
fake_sample_050 fake_sample_050 0
fake_sample_051 fake_sample_051 0
fake_sample_052 fake_sample_052 0
fake_sample_053 fake_sample_053 0
fake_sample_054 fake_sample_054 0
fake_sample_055 fake_sample_055 0
fake_sample_056 fake_sample_056 0
fake_sample_057 fake_sample_057 0
fake_sample_058 fake_sample_058 0
fake_sample_059 fake_sample_059 0
fake_sample_060 fake_sample_060 0
fake_sample_061 fake_sample_061 0
fake_sample_062 fake_sample_062 0
fake_sample_063 fake_sample_063 0
fake_sample_064 fake_sample_064 0
fake_sample_065 fake_sample_065 0
fake_sample_066 fake_sample_066 0
fake_sample_067 fake_sample_067 0
fake_sample_068 fake_sample_068 0
fake_sample_069 fake_sample_069 0
fake_sample_070 fake_sample_070 0
fake_sample_071 fake_sample_071 0
fake_sample_072 fake_sample_072 0
fake_sample_073 fake_sample_073 0
fake_sample_074 fake_sample_074 0
fake_sample_075 fake_sample_075 0
fake_sample_076 fake_sample_076 0
fake_sample_077 fake_sample_077 0
fake_sample_078 fake_sample_078 0
fake_sample_079 fake_sample_079 0
fake_sample_080 fake_sample_080 0
fake_sample_081 fake_sample_081 0
fake_sample_082 fake_sample_082 0
fake_sample_083 fake_sample_083 0
fake_sample_084 fake_sample_084 0
fake_sample_085 fake_sample_085 0
fake_sample_086 fake_sample_086 0
fake_sample_087 fake_sample_087 0
fake_sample_088 fake_sample_088 0
fake_sample_089 fake_sample_089 0
fake_sample_090 fake_sample_090 0
fake_sample_091 fake_sample_091 0
fake_sample_092 fake_sample_092 0
fake_sample_093 fake_sample_093 0
fake_sample_094 fake_sample_094 0
fake_sample_095 fake_sample_095 0
fake_sample_096 fake_sample_096 0
fake_sample_097 fake_sample_097 0
fake_sample_098 fake_sample_098 0
fake_sample_099 fake_sample_099 0
fake_sample_100 fake_sample_100 0
fake_sample_101 fake_sample_101 0
fake_sample_102 fake_sample_102 0
fake_sample_103 fake_sample_103 0
fake_sample_104 fake_sample_104 0
fake_sample_105 fake_sample_105 0
fake_sample_106 fake_sample_106 0
fake_sample_107 fake_sample_107 0
fake_sample_108 fake_sample_108 0
fake_sample_109 fake_sample_109 0
fake_sample_110 fake_sample_110 0
fake_sample_111 fake_sample_111 0
fake_sample_112 fake_sample_112 0
fake_sample_113 fake_sample_113 0
fake_sample_114 fake_sample_114 0
fake_sample_115 fake_sample_115 0
fake_sample_116 fake_sample_116 0
fake_sample_117 fake_sample_117 0
fake_sample_118 fake_sample_118 0
fake_sample_119 fake_sample_119 0
fake_sample_120 fake_sample_120 0
fake_sample_121 fake_sample_121 0
fake_sample_122 fake_sample_122 0
fake_sample_123 fake_sample_123 0
fake_sample_124 fake_sample_124 0
fake_sample_125 fake_sample_125 0
fake_sample_126 fake_sample_126 0
fake_sample_127 fake_sample_127 0
fake_sample_128 fake_sample_128 0
fake_sample_129 fake_sample_129 0
fake_sample_130 fake_sample_130 0
fake_sample_131 fake_sample_131 0
fake_sample_132 fake_sample_132 0
fake_sample_133 fake_sample_133 0
fake_sample_134 fake_sample_134 0
fake_sample_135 fake_sample_135 0
fake_sample_136 fake_sample_136 0
fake_sample_137 fake_sample_137 0
fake_sample_138 fake_sample_138 0
fake_sample_139 fake_sample_139 0
fake_sample_140 fake_sample_140 0
fake_sample_141 fake_sample_141 0
fake_sample_142 fake_sample_142 0
fake_sample_143 fake_sample_143 0
fake_sample_144 fake_sample_144 0
fake_sample_145 fake_sample_145 0
fake_sample_146 fake_sample_146 0
fake_sample_147 fake_sample_147 0
fake_sample_148 fake_sample_148 0
fake_sample_149 fake_sample_149 0
fake_sample_150 fake_sample_150 0
fake_sample_151 fake_sample_151 0
fake_sample_152 fake_sample_152 0
fake_sample_153 fake_sample_153 0
fake_sample_154 fake_sample_154 0
fake_sample_155 fake_sample_155 0
fake_sample_156 fake_sample_156 0
fake_sample_157 fake_sample_157 0
fake_sample_158 fake_sample_158 0
fake_sample_159 fake_sample_159 0
fake_sample_160 fake_sample_160 0
fake_sample_161 fake_sample_161 0
fake_sample_162 fake_sample_162 0
fake_sample_163 fake_sample_163 0
fake_sample_164 fake_sample_164 0
fake_sample_165 fake_sample_165 0
fake_sample_166 fake_sample_166 0
fake_sample_167 fake_sample_167 0
fake_sample_168 fake_sample_168 0
fake_sample_169 fake_sample_169 0
fake_sample_170 fake_sample_170 0
fake_sample_171 fake_sample_171 0
fake_sample_172 fake_sample_172 0
fake_sample_173 fake_sample_173 0
fake_sample_174 fake_sample_174 0
fake_sample_175 fake_sample_175 0
fake_sample_176 fake_sample_176 0
fake_sample_177 fake_sample_177 0
fake_sample_178 fake_sample_178 0
fake_sample_179 fake_sample_179 0
fake_sample_180 fake_sample_180 0
fake_sample_181 fake_sample_181 0
fake_sample_182 fake_sample_182 0
fake_sample_183 fake_sample_183 0
fake_sample_184 fake_sample_184 0
fake_sample_185 fake_sample_185 0
fake_sample_186 fake_sample_186 0
fake_sample_187 fake_sample_187 0
fake_sample_188 fake_sample_188 0
fake_sample_189 fake_sample_189 0
fake_sample_190 fake_sample_190 0
fake_sample_191 fake_sample_191 0
fake_sample_192 fake_sample_192 0
fake_sample_193 fake_sample_193 0
fake_sample_194 fake_sample_194 0
fake_sample_195 fake_sample_195 0
fake_sample_196 fake_sample_196 0
fake_sample_197 fake_sample_197 0
fake_sample_198 fake_sample_198 0
fake_sample_199 fake_sample_199 0
fake_sample_200 fake_sample_200 0
fake_sample_201 fake_sample_201 0
fake_sample_202 fake_sample_202 0
fake_sample_203 fake_sample_203 0
fake_sample_204 fake_sample_204 0
fake_sample_205 fake_sample_205 0
fake_sample_206 fake_sample_206 0
fake_sample_207 fake_sample_207 0
fake_sample_208 fake_sample_208 0
fake_sample_209 fake_sample_209 0
fake_sample_210 fake_sample_210 0
fake_sample_211 fake_sample_211 0
fake_sample_212 fake_sample_212 0
fake_sample_213 fake_sample_213 0
fake_sample_214 fake_sample_214 0
fake_sample_215 fake_sample_215 0
fake_sample_216 fake_sample_216 0
fake_sample_217 fake_sample_217 0
fake_sample_218 fake_sample_218 0
fake_sample_219 fake_sample_219 0
fake_sample_220 fake_sample_220 0
fake_sample_221 fake_sample_221 0
fake_sample_222 fake_sample_222 0
fake_sample_223 fake_sample_223 0
fake_sample_224 fake_sample_224 0
fake_sample_225 fake_sample_225 0
fake_sample_226 fake_sample_226 0
fake_sample_227 fake_sample_227 0
fake_sample_228 fake_sample_228 0
fake_sample_229 fake_sample_229 0
fake_sample_230 fake_sample_230 0
fake_sample_231 fake_sample_231 0
fake_sample_232 fake_sample_232 0
fake_sample_233 fake_sample_233 0
fake_sample_234 fake_sample_234 0
fake_sample_235 fake_sample_235 0
fake_sample_236 fake_sample_236 0
fake_sample_237 fake_sample_237 0
fake_sample_238 fake_sample_238 0
fake_sample_239 fake_sample_239 0
fake_sample_240 fake_sample_240 0
fake_sample_241 fake_sample_241 0
fake_sample_242 fake_sample_242 0
fake_sample_243 fake_sample_243 0
fake_sample_244 fake_sample_244 0
fake_sample_245 fake_sample_245 0
fake_sample_246 fake_sample_246 0
fake_sample_247 fake_sample_247 0
fake_sample_248 fake_sample_248 0
fake_sample_249 fake_sample_249 0
fake_sample_250 fake_sample_250 0
fake_sample_251 fake_sample_251 0
fake_sample_252 fake_sample_252 0
fake_sample_253 fake_sample_253 0
fake_sample_254 fake_sample_254 0
fake_sample_255 fake_sample_255 0
fake_sample_256 fake_sample_256 0
fake_sample_257 fake_sample_257 0
fake_sample_258 fake_sample_258 0
fake_sample_259 fake_sample_259 0
fake_sample_260 fake_sample_260 0
fake_sample_261 fake_sample_261 0
fake_sample_262 fake_sample_262 0
fake_sample_263 fake_sample_263 0
fake_sample_264 fake_sample_264 0
fake_sample_265 fake_sample_265 0
fake_sample_266 fake_sample_266 0
fake_sample_267 fake_sample_267 0
fake_sample_268 fake_sample_268 0
fake_sample_269 fake_sample_269 0
fake_sample_270 fake_sample_270 0
fake_sample_271 fake_sample_271 0
fake_sample_272 fake_sample_272 0
fake_sample_273 fake_sample_273 0
fake_sample_274 fake_sample_274 0
fake_sample_275 fake_sample_275 0
fake_sample_276 fake_sample_276 0
fake_sample_277 fake_sample_277 0
fake_sample_278 fake_sample_278 0
fake_sample_279 fake_sample_279 0
fake_sample_280 fake_sample_280 0
fake_sample_281 fake_sample_281 0
fake_sample_282 fake_sample_282 0
fake_sample_283 fake_sample_283 0
fake_sample_284 fake_sample_284 0
fake_sample_285 fake_sample_285 0
fake_sample_286 fake_sample_286 0
fake_sample_287 fake_sample_287 0
fake_sample_288 fake_sample_288 0
fake_sample_289 fake_sample_289 0
fake_sample_290 fake_sample_290 0
fake_sample_291 fake_sample_291 0
fake_sample_292 fake_sample_292 0
fake_sample_293 fake_sample_293 0
fake_sample_294 fake_sample_294 0
fake_sample_295 fake_sample_295 0
fake_sample_296 fake_sample_296 0
fake_sample_297 fake_sample_297 0
fake_sample_298 fake_sample_298 0
fake_sample_299 fake_sample_299 0
fake_sample_300 fake_sample_300 0
fake_sample_301 fake_sample_301 0
fake_sample_302 fake_sample_302 0
fake_sample_303 fake_sample_303 0
fake_sample_304 fake_sample_304 0
fake_sample_305 fake_sample_305 0
fake_sample_306 fake_sample_306 0
fake_sample_307 fake_sample_307 0
fake_sample_308 fake_sample_308 0
fake_sample_309 fake_sample_309 0
fake_sample_310 fake_sample_310 0
fake_sample_311 fake_sample_311 0
fake_sample_312 fake_sample_312 0
fake_sample_313 fake_sample_313 0
fake_sample_314 fake_sample_314 0
fake_sample_315 fake_sample_315 0
fake_sample_316 fake_sample_316 0
fake_sample_317 fake_sample_317 0
fake_sample_318 fake_sample_318 0
fake_sample_319 fake_sample_319 0
fake_sample_320 fake_sample_320 0
fake_sample_321 fake_sample_321 0
fake_sample_322 fake_sample_322 0
fake_sample_323 fake_sample_323 0
fake_sample_324 fake_sample_324 0
fake_sample_325 fake_sample_325 0
fake_sample_326 fake_sample_326 0
fake_sample_327 fake_sample_327 0
fake_sample_328 fake_sample_328 0
fake_sample_329 fake_sample_329 0
fake_sample_330 fake_sample_330 0
fake_sample_331 fake_sample_331 0
fake_sample_332 fake_sample_332 0
fake_sample_333 fake_sample_333 0
fake_sample_334 fake_sample_334 0
fake_sample_335 fake_sample_335 0
fake_sample_336 fake_sample_336 0
fake_sample_337 fake_sample_337 0
fake_sample_338 fake_sample_338 0
fake_sample_339 fake_sample_339 0
fake_sample_340 fake_sample_340 0
fake_sample_341 fake_sample_341 0
fake_sample_342 fake_sample_342 0
fake_sample_343 fake_sample_343 0
fake_sample_344 fake_sample_344 0
fake_sample_345 fake_sample_345 0
fake_sample_346 fake_sample_346 0
fake_sample_347 fake_sample_347 0
fake_sample_348 fake_sample_348 0
fake_sample_349 fake_sample_349 0
fake_sample_350 fake_sample_350 0
fake_sample_351 fake_sample_351 0
fake_sample_352 fake_sample_352 0
fake_sample_353 fake_sample_353 0
fake_sample_354 fake_sample_354 0
fake_sample_355 fake_sample_355 0
fake_sample_356 fake_sample_356 0
fake_sample_357 fake_sample_357 0
fake_sample_358 fake_sample_358 0
fake_sample_359 fake_sample_359 0
fake_sample_360 fake_sample_360 0
fake_sample_361 fake_sample_361 0
fake_sample_362 fake_sample_362 0
fake_sample_363 fake_sample_363 0
fake_sample_364 fake_sample_364 0
fake_sample_365 fake_sample_365 0
fake_sample_366 fake_sample_366 0
fake_sample_367 fake_sample_367 0
fake_sample_368 fake_sample_368 0
fake_sample_369 fake_sample_369 0
fake_sample_370 fake_sample_370 0
fake_sample_371 fake_sample_371 0
fake_sample_372 fake_sample_372 0
fake_sample_373 fake_sample_373 0
fake_sample_374 fake_sample_374 0
fake_sample_375 fake_sample_375 0
fake_sample_376 fake_sample_376 0
fake_sample_377 fake_sample_377 0
fake_sample_378 fake_sample_378 0
fake_sample_379 fake_sample_379 0
fake_sample_380 fake_sample_380 0
fake_sample_381 fake_sample_381 0
fake_sample_382 fake_sample_382 0
fake_sample_383 fake_sample_383 0
fake_sample_384 fake_sample_384 0
fake_sample_385 fake_sample_385 0
fake_sample_386 fake_sample_386 0
fake_sample_387 fake_sample_387 0
fake_sample_388 fake_sample_388 0
fake_sample_389 fake_sample_389 0
fake_sample_390 fake_sample_390 0
fake_sample_391 fake_sample_391 0
fake_sample_392 fake_sample_392 0
fake_sample_393 fake_sample_393 0
fake_sample_394 fake_sample_394 0
fake_sample_395 fake_sample_395 0
fake_sample_396 fake_sample_396 0
fake_sample_397 fake_sample_397 0
fake_sample_398 fake_sample_398 0
fake_sample_399 fake_sample_399 0
fake_sample_400 fake_sample_400 0
fake_sample_401 fake_sample_401 0
fake_sample_402 fake_sample_402 0
fake_sample_403 fake_sample_403 0
fake_sample_404 fake_sample_404 0
fake_sample_405 fake_sample_405 0
fake_sample_406 fake_sample_406 0
fake_sample_407 fake_sample_407 0
fake_sample_408 fake_sample_408 0
fake_sample_409 fake_sample_409 0
fake_sample_410 fake_sample_410 0
fake_sample_411 fake_sample_411 0
fake_sample_412 fake_sample_412 0
fake_sample_413 fake_sample_413 0
fake_sample_414 fake_sample_414 0
fake_sample_415 fake_sample_415 0
fake_sample_416 fake_sample_416 0
fake_sample_417 fake_sample_417 0
fake_sample_418 fake_sample_418 0
fake_sample_419 fake_sample_419 0
fake_sample_420 fake_sample_420 0
fake_sample_421 fake_sample_421 0
fake_sample_422 fake_sample_422 0
fake_sample_423 fake_sample_423 0
fake_sample_424 fake_sample_424 0
fake_sample_425 fake_sample_425 0
fake_sample_426 fake_sample_426 0
fake_sample_427 fake_sample_427 0
fake_sample_428 fake_sample_428 0
fake_sample_429 fake_sample_429 0
fake_sample_430 fake_sample_430 0
fake_sample_431 fake_sample_431 0
fake_sample_432 fake_sample_432 0
fake_sample_433 fake_sample_433 0
fake_sample_434 fake_sample_434 0
fake_sample_435 fake_sample_435 0
fake_sample_436 fake_sample_436 0
fake_sample_437 fake_sample_437 0
fake_sample_438 fake_sample_438 0
fake_sample_439 fake_sample_439 0
fake_sample_440 fake_sample_440 0
fake_sample_441 fake_sample_441 0
fake_sample_442 fake_sample_442 0
fake_sample_443 fake_sample_443 0
fake_sample_444 fake_sample_444 0
fake_sample_445 fake_sample_445 0
fake_sample_446 fake_sample_446 0
fake_sample_447 fake_sample_447 0
fake_sample_448 fake_sample_448 0
fake_sample_449 fake_sample_449 0
fake_sample_450 fake_sample_450 0
fake_sample_451 fake_sample_451 0
fake_sample_452 fake_sample_452 0
fake_sample_453 fake_sample_453 0
fake_sample_454 fake_sample_454 0
fake_sample_455 fake_sample_455 0
fake_sample_456 fake_sample_456 0
fake_sample_457 fake_sample_457 0
fake_sample_458 fake_sample_458 0
fake_sample_459 fake_sample_459 0
fake_sample_460 fake_sample_460 0
fake_sample_461 fake_sample_461 0
fake_sample_462 fake_sample_462 0
fake_sample_463 fake_sample_463 0
fake_sample_464 fake_sample_464 0
fake_sample_465 fake_sample_465 0
fake_sample_466 fake_sample_466 0
fake_sample_467 fake_sample_467 0
fake_sample_468 fake_sample_468 0
fake_sample_469 fake_sample_469 0
fake_sample_470 fake_sample_470 0
fake_sample_471 fake_sample_471 0
fake_sample_472 fake_sample_472 0
fake_sample_473 fake_sample_473 0
fake_sample_474 fake_sample_474 0
fake_sample_475 fake_sample_475 0
fake_sample_476 fake_sample_476 0
fake_sample_477 fake_sample_477 0
fake_sample_478 fake_sample_478 0
fake_sample_479 fake_sample_479 0
fake_sample_480 fake_sample_480 0
fake_sample_481 fake_sample_481 0
fake_sample_482 fake_sample_482 0
fake_sample_483 fake_sample_483 0
fake_sample_484 fake_sample_484 0
fake_sample_485 fake_sample_485 0
fake_sample_486 fake_sample_486 0
fake_sample_487 fake_sample_487 0
fake_sample_488 fake_sample_488 0
fake_sample_489 fake_sample_489 0
fake_sample_490 fake_sample_490 0
fake_sample_491 fake_sample_491 0
fake_sample_492 fake_sample_492 0
fake_sample_493 fake_sample_493 0
fake_sample_494 fake_sample_494 0
fake_sample_495 fake_sample_495 0
fake_sample_496 fake_sample_496 0
fake_sample_497 fake_sample_497 0
fake_sample_498 fake_sample_498 0
fake_sample_499 fake_sample_499 0
fake_sample_500 fake_sample_500 0
