version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  test:
    working_directory: ~/glow
    docker:
      - image: circleci/openjdk:8
    parallelism: 2

    steps:
      - checkout

      - restore_cache:
          keys:
            - conda-deps-v1-{{ checksum "python/environment.yml" }}

      - run:
          name: Install dependencies
          command: |
            export PATH=$HOME/conda/bin:$PATH
            if [ ! -d "/home/circleci/conda" ]; then
              wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
              /bin/bash Miniconda3-latest-Linux-x86_64.sh -b -p $HOME/conda
              conda env create -f python/environment.yml
            else
              echo "Conda already installed"
            fi

      - run:
          name: Run Python tests and parallelized Scala tests
          environment:
          command: |
            export PATH=$HOME/conda/envs/glow/bin:$PATH
            sbt printTests
            sbt coverage "testOnly $(circleci tests split --split-by=timings --timings-type=classname core-test-names.log | tr '\n' ' ') --" python/test coverageReport exit

      - run:
          name: Run Python tests
          environment:
          command: |
            export PATH=$HOME/conda/envs/glow/bin:$PATH
            sbt python/test exit

      - run:
          name: Run docs tests
          environment:
          command: |
            export PATH=$HOME/conda/envs/glow/bin:$PATH
            cd docs
            make linkcheck
            sbt docs/test exit

      - store_artifacts:
          path: ~/glow/unit-tests.log
          destination: unit-tests.log

      - store_test_results:
          path: ~/glow/core/target/test-reports

      - codecov/upload:
          file: "core/target/scala-2.11/scoverage-report/scoverage.xml"

      - save_cache:
          paths:
            - /home/circleci/conda
          key: conda-deps-v1-{{ checksum "python/environment.yml" }}

workflows:
  version: 2
  test:
    jobs:
      - test
