name: glow
channels:
  - bioconda
  - conda-forge
dependencies:
  - python=3.7
  - bedtools
  - click=7.1.1 # Docs notebook source generation
  - databricks-cli=0.9.1 # Docs notebook source generation
  - jinja2
  - jupyterlab
  - nomkl # Skip MKL for local development
  - nptyping=1.3.0
  - numpy=1.18.1
  - opt_einsum>=3.2.0
  - pandas=1.0.1
  - pip
  - pyarrow=1.0.1
  - pyspark=3.2.0
  - pytest
  - pyyaml
  - scipy=1.4.1
  - scikit-learn=0.22.1
  - sphinx
  - sphinx_rtd_theme
  - statsmodels
  - typeguard=2.9.1
  - yapf=0.30.0
  - pip:
    - setuptools==52.0.0 # Python packaging
    - twine==2.0.0 # Pypi publishing
    - sphinx-autobuild
    - Sphinx-Substitution-Extensions # Substitutions in code blocks
    - sphinx-tabs # Code tabs (Python/Scala)
    - sybil==3.0.0 # Automatic doctest
