name: glow
channels:
  - bioconda
dependencies:
  - python=3.7
  - bedtools
  - jinja2
  - numpy=1.17.4
  - scipy=1.4.1
  - nomkl # Skip MKL for local development
  - pandas=0.25.3
  - pip
  - pyarrow=0.15.1
  - pyspark=2.4.5
  - pytest
  - pyyaml
  - sphinx
  - sphinx_rtd_theme
  - pip:
    - setuptools==41.2.0 # Python packaging
    - typeguard==2.5.0
    - twine==2.0.0 # Pypi publishing
    - Sphinx-Substitution-Extensions==2019.6.15.0 # Substitutions in code blocks
    - sphinx-tabs==1.1.13 # Code tabs (Python/Scala)
    - sybil==1.2.0 # Automatic doctest
    - yapf==0.30.0
    - nptyping==1.1.0
