name: glow
dependencies:
  - python=3.7
  - pytest
  - pip
  - jinja2
  - pyyaml
  - pip:
    - numpy==1.17.4
    - pyspark==2.4.3
    - setuptools==41.2.0 # Python packaging
    - typeguard==2.5.0
    - twine==2.0.0 # Pypi publishing
    - sphinx_rtd_theme==0.4.3
    - Sphinx-Substitution-Extensions==2019.6.15.0 # Substitutions in code blocks
    - sphinx-tabs==1.1.13 # Code tabs (Python/Scala)
    - sybil==1.2.0 # Automatic doctest
