name: glow
dependencies:
  - python=3.7
  - pytest
  - pip
  - pip:
    - pyspark==2.4.3
    - setuptools==41.2.0 # Python packaging
    - typeguard==2.5.0
    - twine==2.0.0 # Pypi publishing
    - sphinx_rtd_theme
    - Sphinx-Substitution-Extensions==2019.6.15.0 # Substitutions in code blocks
    - sphinx-tabs # Code tabs (Python/Scala)
