name: glow
channels:
  - bioconda
  - conda-forge
dependencies:
  - python=3.7
  - bedtools
  - click=7.1.1 # Docs notebook source generation
  - databricks-cli=0.9.1 # Docs notebook source generation
  - jinja2
  - jupyter
  - nomkl # Skip MKL for local development
  - nptyping=1.3.0
  - numpy=1.17.4
  - pandas=0.25.3
  - pip
  - pyarrow=0.15.1
  - pyspark=3.0.0
  - pytest
  - pyyaml
  - scipy=1.4.1
  - scikit-learn=0.22.1
  - sphinx
  - sphinx_rtd_theme
  - statsmodels
  - typeguard=2.9.1
  - yapf=0.30.0
  - pip:
    - setuptools==41.2.0 # Python packaging
    - twine==2.0.0 # Pypi publishing
    - sphinx-autobuild==2020.9.1
    - Sphinx-Substitution-Extensions==2019.6.15.0 # Substitutions in code blocks
    - sphinx-tabs==1.1.13 # Code tabs (Python/Scala)
    - sybil==1.4.0 # Automatic doctest
