name: glow-spark4
channels:
  - bioconda
  - conda-forge
dependencies:
  - python=3.10.12
  - bedtools
  - click=8.0.4 # Docs notebook source generation
  - jinja2=3.1.2
  - jupyterlab
  - nptyping
  - numpy=1.23.5
  - opt_einsum>=3.2.0
  - pandas=1.5.3
  - pip=22.3.1
  - pyarrow=14.0.2
  - pytest=7.4.4
  - pytest-cov=4.1.0
  - pyyaml
  - pygments=2.17.2
  - scipy=1.10.0
  - scikit-learn=1.1.1
  - statsmodels=0.13.5
  - typeguard
  - yapf=0.40.1
  - pip:
    # Note: Spark 4 must currently be installed from source
    # We only install pyspark to pull in all the dependencies. It should be
    # uninstalled before testing.
    - pyspark==3.5.2
    - databricks-cli==0.18 # Docs notebook source generation
    - databricks-sdk
    - setuptools==65.6.3 # Python packaging
    - twine # Pypi publishing
    - sphinx
    - sphinx_rtd_theme
    - sphinx-autobuild
    - sphinx-prompt
    - Sphinx-Substitution-Extensions # Substitutions in code blocks
    - sphinx-tabs # Code tabs (Python/Scala)
    - sybil # Automatic doctest
